<?xml version="1.0"?>
<CONFIG>
  <Source Value=".\Data\jnConfigPath.htm"/>
  <Dictionary Value=".\Data\jnSetIp.htm"/>
  <Delta Value=".\Data\delta.dat"/>
  <Target Value=".\Data\target.txt"/>
  <TargetWindow Value="10000"/>
  <AddToCopy Value="10"/>
  <BlockSize Value="20000"/>
  <Delay Value="50"/>
</CONFIG>
